::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgb(58, 51, 39);
}
::-webkit-scrollbar-thumb {
    background-color: #c8aa80;
    border-radius: 6px;
}
@font-face {
    src: url("fonts/Roboto.ttf");
    font-family: Roboto;
}
@font-face {
    src: url("fonts/Miniver.ttf");
    font-family: Miniver;
}
@font-face {
    src:url("fonts/Caviar.ttf");
    font-family: myFont;
}
body {
    background-color: #090d0e;
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.navBar{
    background-size: cover;
    background: url("images/d1.jpg") no-repeat center;
    height: 800px;
}
.navbarMenus{
    color: #fdfdfd;
    font-family: myFont;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    gap: 40px;
    position: absolute;
    left: 638px;
    gap: 61px;
    top: 60px;
}
.navbarMenus button{
    height: 60px;
    width: 210px;
    line-height: 55px;
    letter-spacing: 2px;
    font-family: myFont;
    background-color: #c9ab81;
    border: none;
    color: white;
    font-weight: 700;
    position: absolute;
    bottom: -24px;
    left: 658px;
    cursor: pointer;
}
.navbarMenus button:hover{
    border: 2px solid #c9ab81;
    background: transparent;
    transition: background 0.5s ease-in-out;
}
.navbarMenus #book{
    font-weight: 800;
    font-size: 16px;
    padding-left: 27px
}
.icon1:before{
    position: absolute;
    right: 252px;
    top: 63px;
}
a{
    color: #fdfdfd;
    text-decoration: none;
}
a:hover{
    color: #c9ab81;
}
.navbarHeader h3{
    color: white;
    font-family: myFont;
    letter-spacing: 2px;
    position: absolute;
    left: 74px;
    bottom: 702px;
    font-size: 27px;
}
.navbarHeader p{
    color: rgb(219 219 219 / 85%);
    font-family: myFont;
    position: absolute;
    left: 196px;
    bottom: 705px;
    font-size: 10px;
    letter-spacing: 1px;
}
.navbarBody p{
    font-family: "Miniver", cursive;
    color: #c9ab81;
    font-size: 18px;
    position: absolute;
    bottom: 503px;
    left: 201px;
    transform-origin: top;
    transition: all 1000ms ease;
}
.navbarBody h2{
    font-family: myFont;
    color: white;
    position: absolute;
    left: 202px;
    bottom: 327px;
    font-size: 72px;
    font-weight: 700;
    transform-origin: top;
    transition: all 1000ms ease;
}
.btn1{
    height: 60px;
    width: 177px;
    line-height: 55px;
    letter-spacing: 2px;
    font-family: myFont;
    background-color: #c9ab81;
    border: none;
    color: white;
    font-weight: 700;
    position: absolute;
    left: 203px;
    top: 487px;
    font-size: 17px;
    cursor: pointer;
    transform-origin: top;
    transition: all 1000ms ease;
}
.btn2 {
    height: 60px;
    width: 177px;
    line-height: 55px;
    letter-spacing: 2px;
    font-family: myFont;
    background-color: #c9ab81;
    border: none;
    color: white;
    font-weight: 700;
    position: absolute;
    left: 414px;
    top: 487px;
    font-size: 17px;
    cursor: pointer;
    transform-origin: top;
    transition: all 1000ms ease;
}
.btn1:hover{
    border: 2px solid #c9ab81;
    background: transparent;
    transition: background 0.5s ease-in-out;
}
.btn2:hover{
    border: 2px solid #c9ab81;
    background: transparent;
    transition: background 0.5s ease-in-out;
}
div .box2{
    position: absolute;
    left: 612px;
    bottom: -70px;
    width: 296px;
    padding: 36px 40px;
    color: white;
    background-color: #0e1415;
    height: 61px;
}
div .box3{
   position: absolute;
    left: 1015px;
   bottom: -70px;
    width: 296px;
    padding: 36px 40px;
    color: white;
    background-color: #0e1415;
    height: 61px;
}
div .box1{
   position: absolute;
    left: 203px;
    bottom: -70px;
    width: 296px;
    padding: 36px 40px;
    color: white;
    background-color: #0e1415;
    height: 61px;
}
.head1, .head2, .head3{
    font-family: myFont;
    font-weight: 700;
    padding-bottom: 12px;
    font-size: 18px;
}
.head1{
    position: absolute;
    bottom: 65px;
    right: 74px;
}
.head2{
    position: absolute;
    bottom: 65px;
    right: 55px;
}
.head3{
    position: absolute;
    bottom: 65px;
    right: 95px;
}
.body1, .body2, .body3{
    font-family: Roboto;
    font-weight: normal;
    color: #7e888a;
    font-size: 14px;
    padding-left: 88px;
    position: absolute;
    bottom: 27px;
    line-height: 1.5;
}
.icon{
    background: url(icons/fork.png) center/contain no-repeat;
    width: 16%;
    height: 70px;
    z-index: 50;
    position: absolute;
    bottom: 35px;
    transition: transform 0.7s ease;
    cursor: pointer;
}
.box1:hover .icon{
    transform: rotateY(360deg);
}
.icon:hover{
    transform: rotateY(360deg);
}
div .utensils{
    background: url(icons/utensils.png) center/contain no-repeat;
    width: 20%;
    height: 74px;
    z-index: 50;
    position: absolute;
    bottom: 35px;
    transition: transform 0.7s ease;
    cursor: pointer;
    left: 30px;
}

div .box2:hover .utensils{
    transform: rotateY(360deg);
}
div .plate{
    background: url(icons/plate.png) center/contain no-repeat;
    width: 21%;
    height: 67px;
    z-index: 50;
    position: absolute;
    right: 272px;
    bottom: 35px;
    transition: transform 0.7s ease;
    cursor: pointer;
}
div .box3:hover .plate{
    transform: rotateY(360deg);
}
div .pic1{
    position: absolute;
    right: 814px;
    top: 997px;
    overflow: hidden;
    height: 281px;
}
.pic2{
    position: absolute;
    right: 1110px;
    top: 965px;
    width: 270px;
    overflow: hidden;
    height: 281px;
}
div .pic4{
    position: absolute;
    right: 1110px;
    top: 1275px;
    width: 270px;
    overflow: hidden;
    height: 281px;
}
div .pic3{
    position: absolute;
    right: 814px;
    top: 1307px;
    width: 270px;
    overflow: hidden;
    height: 281px;
}
div .pic1::before,
.pic2::before,
.pic3::before,
.pic4::before{
    content: '';
    top: -500px;
    left: 77px;
    position: absolute;
    width: 83px;
    height: 600px;
    transition-duration: 1.1s;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    rotate: 52deg;
}
div .pic1:hover::before,
.pic2:hover::before,
.pic3:hover::before,
.pic4:hover::before{
    opacity: 0.3;
    top:254px;
}
#about{
    color: #c9ab81;
    font-family: "Miniver", cursive;
    font-size: 18px;
    position: absolute;
    right: 665px;
    bottom: -325px;
}
#text{
    color: #acb8bb;
    line-height: 1.75;
    font-family: 'Roboto';
    position: absolute;
    right: 219px;
    top: 1289px;
    font-size: 16px;
}
#secondPageHead{
    color: #fff;
    font-family: "myFont";
    padding: 5px 0px 15px;
    font-weight: 700;
    font-size: 60px;
    position: absolute;
    right: 314px;
    top: 1120px;
}
#btn{
    height: 60px;
    width: 177px;
    line-height: 55px;
    letter-spacing: 2px;
    font-family: myFont;
    background-color: #c9ab81;
    border: none;
    color: white;
    position: absolute;
    top: 1456px;
    left: 851px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}
#btn:hover {
    border: 2px solid #c9ab81;
    background: transparent;
    transition: background 0.5s ease-in-out;
}
.sticky.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    transition-duration: 0.8s;
    z-index: 1000;
    padding-top: 89px;
    background-color: black;
}
.navbarMenus.scrolled{
    top: 35px;
}
#book.scrolled{
    top: -24px;
}
.icon1.scrolled:before{
    position: fixed;
    top: 33px;
    z-index: 3000;
}
.navbarHeader.scrolled{
    position: fixed;
    z-index: 500;
    bottom: 23px;
}
.thirdPage{
    background-color: #06090a;
    color: white;
    position: absolute;
    top: 1710px;
    right: 0px;
    padding:332px 956px;
    margin-right: 16px;
}
.aboutUs{
    color: #c9ab81;
    font-family: "Miniver", cursive;
    font-size: 18px;
    position: absolute;
    top: 184px;
    right: 746px;
}
.thirdPageHeader{
    color: #fff;
    font-family: "myFont";
    font-size: 41px;
    line-height: 1.167;
    padding: 5px 0px 15px;
    position: absolute;
    top: 210px;
    right: 615px;
    text-align: center;
}
#thirdText{
    color: #acb8bb;
    line-height: 1.75;
    font-family: 'Roboto';
    position: absolute;
    font-size: 16px;
    top: 375px;
    right: 559px;
    text-align: center;
}
#thirdPageB{
    color: white;
    font-weight: 700;
    font-size: 16px;
}
.thirdPageBtn button{
    height: 60px;
    width: 177px;
    line-height: 55px;
    letter-spacing: 2px;
    font-family: myFont;
    background-color: #c9ab81;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 515px;
    right: 696px;
}
.thirdPageBtn button:hover{
    border: 2px solid #c9ab81;
    background: transparent;
    transition: background 0.5s ease-in-out;
}
.pic5{
    position: absolute;
    top: 115px;
    right: 172px;
    overflow: hidden;
    height: 501px;
}
.pic6{
    position: absolute;
    top: 115px;
    right: 1090px;
    overflow: hidden;
    height: 501px;
}
div .pic5::before,
.pic6::before{
    content: '';
    top: -500px;
    left: 77px;
    position: absolute;
    width: 83px;
    height: 600px;
    transition-duration: 1.1s;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    rotate: 52deg;
}
div .pic5:hover::before,
.pic6:hover::before{
    opacity: 0.3;
    top:440px;
}
.menuHeader p{
    color: #c9ab81;
    font-family: "Miniver", cursive;
    font-size: 18px;
    position: absolute;
    top: 2565px;
    right: 1319px;
}
.menuHeader h2{
    color: #fff;
    font-family: "myFont";
    font-size: 60px;
    line-height: 1.167;
    padding: 5px 0px 15px;
    position: absolute;
    top: 2594px;
    right: 976px;
}
.Menu{
    display: grid;
    color: white;
    position: relative;
    top: 1886px;
    justify-content: space-evenly;
    grid-auto-flow: column;
}
.parentOne p,
.parentTwo p,
.parentThree p{
    color: #abb7ba;
    font-family: 'Roboto';
    line-height: 1.167;
    font-size: 13px;
    border-bottom-style: solid;
    border-bottom-color: #1d2628;
    padding-bottom: 18px;
    border-bottom-width: 2px;
    padding-top: 16px;
}
div .parentOne{
    position: relative;
    top: -12px;
}
.parentOne h4{
    position: absolute;
    top: 31px;
    left: 103px;
    font-size: 24px;
    font-weight: 700;
    font-family: "myFont";
}
.parentTwo h4{
    position: absolute;
    top: 16px;
    left: 102px;
    font-size: 24px;
    font-weight: 700;
    font-family: "myFont";
}
.parentThree h4{
    position: absolute;
    font-family: "myFont";
    top: 18px;
    left: 100px;
    font-size: 24px;
    font-weight: 700;
}
div .childOneParentOne,
.childOneParentTwo,
.childOneParentThree{
    border-bottom-style: dashed;
    border-bottom-color: #1d2628;
    padding-bottom: 18px;
    border-bottom-width: 2px;
}
.parentOne h5,
.parentTwo h5,
.parentThree h5{
    font-size: 16px;
    font-weight: 700;
    font-family: "myFont";
    padding-top: 33px;
}
.parentOne img{
    top: 5px;
    position: relative;
}
div .orderNumParentOne {
    border-radius: 100%;
    background-color: #131a1c;
    width: 53px;
    height: 53px;
    left: 338px;
    position: absolute;
    top: 13px;
    line-height: 1.5;
}

div .orderNumParentTwo {
    border-radius: 100%;
    background-color: #131a1c;
    width: 53px;
    height: 53px;
    line-height: 1.5;
    position: absolute;
    right: -86px;
    top: 1px;
}
div .orderNumParentThree {
    border-radius: 100%;
    background-color: #131a1c;
    width: 53px;
    height: 53px;
    left: 329px;
    position: absolute;
    top: 1px;
    line-height: 1.5;
}
.orderNumParentOne span,
.orderNumParentTwo  span,
.orderNumParentThree span {
    color: rgb(255, 219, 166);
    font-weight: 800;
    font-size: 21px;
    font-family: "myFont";
    position: absolute;
    top: 9px;
    left: 12px;
}
.childTwoParentOne span,
.childThreeParentOne span,
.childFourParentOne span,
.childFiveParentOne span,
.childTwoParentTwo span,
.childThreeParentTwo span,
.childFourParentTwo span,
.childFiveParentTwo span,
.childTwoParentThree span,
.childThreeParentThree span,
.childFourParentThree span,
.childFiveParentThree span{
    color: #c9ab81;
    font-weight: 700;
    font-family: "myFont";
}
/* the first parent */

.childTwoParentOne span {
    position: absolute;
    top: 154px;
    left: 350px;
}
.childThreeParentOne span {
    position: absolute;
    top: 257px;
    left: 350px;
}
.childFourParentOne span {
    position: absolute;
    top: 360px;
    left: 350px;
}
.childFiveParentOne span {
    position: absolute;
    top: 463px;
    left: 350px;
}
/* the second parent */
.childTwoParentTwo span {
    position: absolute;
    top: 245px;
    left: 338px;
}
.childThreeParentTwo span {
    position: absolute;
    top: 142px;
    left: 338px;
}
.childFourParentTwo span {
    position: absolute;
    top: 348px;
    left: 338px;
}
.childFiveParentTwo span {
    position: absolute;
    top: 451px;
    left: 338px;
}
/* the third parent */
.childTwoParentThree span {
    position: absolute;
    top: 245px;
    left: 339px;
}
.childThreeParentThree span {
    position: absolute;
    top: 142px;
    left: 339px;
}
.childFourParentThree span {
    position: absolute;
    top: 348px;
    left: 339px;
}
.childFiveParentThree span {
    position: absolute;
    top: 451px;
    left: 339px;
}
div .parentTwo {
    position: relative;
    left: -11px;
    top: 4px;
}
div .parentThree {
    position: relative;
    left: -48px;
    top: 4px;
}
.res-btn{
    display: none;
}
/*#btn{
    display: none;
}/
/*Styles for smaller screens */
@media only screen and (max-width: 600px) {
    .navbarMenus {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 69%;
        z-index: 5000;
        display: flex;
        flex-direction: column;
        padding: 87px 31px;
        background: #000000bd;
        backdrop-filter: blur(10px);
    }
    .res-btn{
        display: block;
        position: absolute;
        width: 5%;
        top: 2rem;
        right: 3rem;
        z-index: 9999;
        background-color: transparent;
        border: none;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        cursor: pointer;
    }
    .menu-icon{
        position: absolute;
        left: 10px;
        cursor: pointer;
    }
   .navbarMenus.visible {
        left: 100%;
    }
   /*#btn{
       position: absolute;
       top: 38rem;
       left: 426px;
       z-index: 5000;
       width: 153px;
       display: block;
   }*/
}
/* Styles for medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

}
/* Styles for larger screens */
@media only screen and (min-width: 1025px) {

}
.intro-vd {
    background: url(images/video.jpg) no-repeat center;
    background-size: cover;
    height: 706px;
    width: 100%;
    position: absolute;
    top: 208rem;
}
.intro::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
.fa-play:before{
    color: #0e1415eb;
    position: absolute;
    z-index: 3000;
    top: 283px;
    left: 790px;
    font-size: 100px;
}
div .location{
    width: 231px;
    display: flex;
    background-color: #06090a;
    flex-direction: column;
    text-align: center;
    padding: 87px 71px 96px;
    position: absolute;
    left: 191px;
    top: 4265px;
}
.location h3{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
    font-family: myFont;
}
.location p{
    color: #839095;
    padding-bottom: 20px;
    font-family: Roboto;
}
.location h3, .location p {
    position: relative;
    bottom: -64px;
}
.contact-img{
    position: absolute;
    top: 4169px;
    z-index: 206;
    left: 612px;
}
.map {
    background: url(icons/map.png);
    z-index: 1000;
    position: absolute;
    top: 52px;
    left: 145px;
}
div .opening {
    width: 231px;
    display: flex;
    background-color: #c9ab81;
    flex-direction: column;
    text-align: center;
    padding: 9px 71px 286px;
    position: absolute;
    left: 1029px;
    top: 4266px;
}
.days{
    color: white;
    padding-bottom: 20px;
    font-family: myFont;
    position: absolute;
    top: 90px;
    left: 25px;
}
.hours{
    color: white;
    padding-bottom: 20px;
    font-family: myFont;
    position: absolute;
    right: 21px;
    top: 90px;
}

.opening h3{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 23px;
    font-family: "myFont";
    position: relative;
    top: 23px;
    left: -12px;
}
ul {
    list-style-type: none;
}
.days li,
.hours li{
    padding-bottom: 27px;
    font-family: "Roboto";
    font-weight: 500;
}
.appointment{
    padding: 106px 55px; /*595px*/
    background-color: #0d1213;
    position: absolute;
    top: 4813px;
    width: 1103px;
    left: 195px;
}
.appointment h6{
    font-size: 18px;
    color: #c9ab81;
    font-family: "Miniver", cursive;
    position: absolute;
    left: 196px;
    top: 69px;
    font-weight: 100;
}
.ap{
    font-size: 36px;
    font-family: myFont;
    color: white;
    font-weight: 700;
    line-height: 1.167;
    padding: 5px 0px 15px;
    position: absolute;
    left: 192px;
    top: 104px;
}
.phone{
    color: #c9ab81;
    font-size: 36px;
    font-family: myFont;
    font-weight: 700;
    position: absolute;
    top: 107px;
    left: 557px;
}
.num{
    position: absolute;
    left: 55px;
    top: 62px;
}
.footerOne h3{
    color: white;
    font-family: myFont;
    letter-spacing: 2px;
    font-size: 27px;
    position: relative;
    top: -191px;
    left: -15px;
}
.footerOne p{
    color: rgb(219 219 219 / 85%);
    font-family: myFont;
    font-size: 10px;
    letter-spacing: 1px;
    position: relative;
    top: -218px;
    left: 106px;
}
.ft{
    background-color: #050708;
    position: absolute;
    left: 10px;
    position: absolute;
    left: 0em;
    top: 5187px;
    z-index: 4000;
    padding: 312px 741px;
}
.line{
    width: 1322px;
    left: 131px;
    top: 199px;
    position: absolute;
    height: 1px;
    background-color: rgb(219 219 219 / 11%);
    border: none;
}